<div
  class="absolute h-screen w-screen flex justify-center items-center top-0 left-0 text-black z-10"
>
  <div class="rounded-3xl shadow-lg bg-white px-8">
    <div class="p-4 pb-0 rounded-t-2xl flex justify-between gap-5">
      <div class="flex gap-2">
        <div class="flex">
          <span
            class="font-icon rounded-full text-xl text-white bg-black py-0 px-2 flex items-center"
            >schedule_send
          </span>
        </div>
        <div class="flex-col gap-2">
          <p class="text-xs">Booked on</p>
          <p class="text-xs font-semibold">{{ticketData?.bookingDate| date:'mediumDate'}}</p>
        </div>
      </div>
      <div class="flex items-end">
        <p class="text-xs font-semibold">{{ticketData?.bookingDate| date:'shortTime'}}</p>
      </div>
    </div>

    <div class="p-4 pt-0">
      <hr class="my-2 border-gray-300" />

      <div class="flex justify-between items-center">
        <div>
          <p class="text-xl font-bold">{{ticketData?.customerName}}</p>
          <p class="text-xs text-gray-600">1{{ticketData?.mobileNo}}</p>
        </div>
      </div>
      <hr class="my-2 border-gray-300" />
      <div>
        <div class="flex justify-between items-center">
          <div>
            <p class="text-xl font-bold">{{ticketData?.brand}}{{ticketData?.model}}</p>
            <p class="text-xs text-gray-600">{{ticketData?.bookingId}}</p>
          </div>
        </div>
        <hr class="my-2 border-gray-300" />

        <div class="flex justify-between items-center">
          <div>
            <p class="text-xl font-bold">₹{{ticketData?.totalBillAmount}}</p>
            <p class="text-xs text-gray-600">Disount ₹{{ticketData?.discount}}</p>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-2 border-black border-dashed border-2" />
    <div class="flex justify-center items-center w-full">
      <div class="flex text-center">
        <p class="text-5xl font-bold text-center">{{ticketData?.bookingUid}}</p>
      </div>
    </div>
    <div class="flex justify-center bg-red-600 rounded-lg mb-2 mt-3 ">
      <button class="flex justify-center text-white py-2 w-full" (click)="closeModel()">
        Exit
      </button>
    </div>
  </div>
</div>
