<div
  class="text-white flex justify-between p-4 border-b border-gray-800 sticky top-0 bg-black rounded-b-xl"
>
  <div class="flex justify-center items-center">
    <h1
      class="font-title text-2xl lg:text-3xl font-semibold cursor-pointer"
      routerLink=""
    >
      Rent<span class="text-blue-500">A</span>Car
    </h1>
  </div>
  <div class="flex gap-2 justify-center items-center text-sm">
    <h1
      class="flex justify-center items-center bg-[#141414] p-1 px-4 rounded-2xl font-bold cursor-pointer hover:ring-2"
    >
      Add Car
    </h1>
    <h1
      class="flex justify-center items-center bg-[#141414] p-1 px-4 rounded-2xl font-bold cursor-pointer hover:ring-2" routerLink="find-bookings"
    >
      See Bookings
    </h1>
  </div>
</div>
