<div class="text-white flex justify-between p-4  border-b border-gray-800 sticky">
  <div class="flex justify-center items-center">
    <h1 class="font-title text-2xl font-semibold">
      Rent<span class="text-blue-500">A</span>Car
    </h1>  </div>
  <div class="flex gap-2  justify-center items-center text-sm">
    <h1 
      class="flex justify-center items-center bg-[#141414] p-1 px-4 rounded-2xl bootstrapPlusCircle"
    >
      Add Car
    </h1>
    <h1 
      class="flex justify-center items-center bg-[#141414] p-1 px-4 rounded-2xl"
    >
      See Bookings
    </h1>
  </div>
</div>
>
